SPRING_PROFILES_ACTIVE=prod
PORT=8080
DB_URL=jdbc:mysql://centerbeam.proxy.rlwy.net:19874/railway?useSSL=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=AFEIjkYmFnquMHDIkjebSRtNZDsxKiUj
HIBERNATE_DDL_AUTO=validate
JWT_SECRET=7d8f3a9b2c4e6f8a1b3d5e7f9a2c4e6f8b1d3f5a7c9e2b4d6f8a1c3e5f7b9d2db3232db
JWT_ACCESS_TOKEN_EXPIRATION=900000
JWT_REFRESH_TOKEN_EXPIRATION=604800000
FRONTEND_URL=https://billing-frontend-kzeq112a0-mohdwaziddbs-projects.vercel.app/
CORS_ALLOWED_ORIGINS=https://billing-frontend-kzeq112a0-mohdwaziddbs-projects.vercel.app/
REMINDER_MOCK_MODE=false
JPA_SHOW_SQL=false
